<app-app-home></app-app-home>
<div class="alertCenter">
  <nac-alert-center [animation]="'fancy'" [htmlTextEnabled]="true"></nac-alert-center>
</div>
<div>
    <div class="modal fade" id="deletModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">Warning!!!</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <h4>Are you sure you want to delete your profile?</h4>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="DeleteUserProfile()">Delete</button>
            </div>
          </div>
        </div>
      </div>
</div>
<div class="upVote" *ngIf="forminitialization">
  <div class="container">
    <h1 class="Profile-information">
      Profile information
    </h1>
    <h6 class="Edit-your-informatio">
      Edit your information below.
    </h6>
  </div>
  <div class="base_background">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4">
          <div class="profile_pic">
            <div class="Mask">
              <div class="Mask-Copy">
                <img [src]="imageSrc || '..\assets\img\ico-user@2x.png'" class="img-responsive">
              </div>
            </div>
            <button type="button" class="Upload-Photo" (click)="fileInput.click()">Upload Photo</button>
            <input #fileInput type="file" class="form-control" style="display: none" (change)="fileChangeEvent($event)" multiple accept='image/*'
            />
          </div>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-12 col-lg-8">
          <div class="form_inner">
            <form class="form-horizontal upvote_form" [formGroup]='icoprofileform' (ngSubmit)="UpdateICOProfile(icoprofileform)">
              <div class="form-group">
                <label class="control-label upVote_label">Username</label>
                <input type="text" formControlName="name" class="form-control inner_input-copy" placeholder="Username" disabled>
              </div>
              <div class="form-group">
                <label class="control-label upVote_label">Title</label>
                <input type="text" [ngClass]="{submitted:submitted}" formControlName="title" class="form-control inner_input-copy touched" placeholder="Title">
              </div>
              <div class="form-group">
                <label class="control-label upVote_label">Email address</label>
                <input type="email" [ngClass]="{submitted:submitted}" formControlName="email" class="form-control inner_input-copy touched" placeholder="Email address" disabled>
              </div>
              <div class="form-group">
                <label class="control-label upVote_label">Location</label>
                <input type="text" [ngClass]="{submitted:submitted}" formControlName="location" class="form-control inner_input-copy touched" placeholder="Location">
              </div>
              <div class="form-group">
                <label class="control-label upVote_label">Bio</label> <span class="smallcharacter">(Bio minium 100 characters)</span>
                <textarea formControlName="bio" [ngClass]="{submitted:submitted}" class="form-control inner_input-copy touched" placeholder="Bio minium 100 characters"></textarea>
              </div>
              <div class="form-group">
                <label class="control-label upVote_label">Investment focus</label>
                <input type="text" [ngClass]="{submitted:submitted}" formControlName="investmentfocus" class="form-control inner_input-copy touched" placeholder="Investment focus">
              </div>
              <div class="form-group">
                <label class="control-label upVote_label">Average no. Of investement per year</label>
                <input type="number" formControlName="averagenoofinvestment" class="form-control inner_input-copy" placeholder="Average no. Of investement per year">
              </div>
              <div class="form-group">
                <label class="control-label upVote_label">Average Investment size per deal</label>
                <select type="text" formControlName="averageinvestmentsizeperyear" class="form-control inner_input-copy">
                  <option *ngFor="let ind of investmentData" [ngValue]="ind.id">{{ind.value}}</option>
                </select>
              </div>
              <div class="form-group">
                <label class="custom_check">
                  <span> Investor ? </span>
                  <input type="checkbox" formControlName="isinvestor" checked="checked">
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="form-group" ng-show="isModerator">
                <label class="custom_check">
                  <span> Presenter ? </span>
                  <input type="checkbox" (change)="ispresenterchange($event)" formControlName="isinvestor" checked="checked">
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="form-group">
                <button type="submit" class="btn_full_shape btn">Save</button>
              </div>
              <div class="gap105"></div>
              <div class="form-group">
                  <a href="#" class="btn BG btn" style="color: black" data-toggle="modal" data-target="#deletModal">
                      Delete my account and information
                    </a>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix gap20"></div>
<ngx-spinner bdColor="rgba(251,244,244,0.8)" size="medium" color="#31d093" type="ball-clip-rotate-multiple"></ngx-spinner>