<app-app-home></app-app-home>
<div class="alertCenter">
  <nac-alert-center [animation]="'fancy'" [htmlTextEnabled]="true"></nac-alert-center>
</div>
<div class="upVote">
  <div class="container">
    <h1 class="Profile-information">
      Profile information
    </h1>
    <h6 class="Edit-your-informatio">
      Edit your information below.
    </h6>
  </div>
  <div class="base_background">
    <div class="container" *ngIf="forminitialization">
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4">
          <div class="profile_pic">
            <div class="Mask">
              <div class="Mask-Copy">
                <img [src]="imageSrc || '..\assets\img\ico-user@2x.png'" class="img-responsive">
              </div>
            </div>
            <button type="button" class="Upload-Photo" (click)="fileInput.click()">Upload Photo</button>
            <input #fileInput type="file" class="form-control" style="display: none" (change)="fileChangeEvent($event)" multiple accept='image/*'/>
          </div>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-12 col-lg-8">
          <div class="form_inner">
            <form class="form-horizontal upvote_form" [formGroup] = 'icoprofileform' (ngSubmit)="UpdateICOProfile(icoprofileform)">
              <div class="form-group">
                <label class="control-label upVote_label">Username</label>
                <input type="text" formControlName="name" class="form-control inner_input-copy" placeholder="Username" disabled>
              </div>
              <div class="form-group">
                <label class="control-label upVote_label">Title</label>
                <input type="text" formControlName="title" class="form-control inner_input-copy" placeholder="Title">
                <div *ngIf="icoprofileform.controls['title'].touched && !icoprofileform.controls['title'].valid">  
                  <span *ngIf="icoprofileform.controls['title'].hasError('required') " class="alert-danger">  
                    Title is required  
                  </span>  
                </div>  
              </div>
              <div class="form-group">
                <label class="control-label upVote_label">Email address</label>
                <input type="email" formControlName="email" class="form-control inner_input-copy" placeholder="Email address" disabled>
              </div>
              <div class="form-group">
                <label class="control-label upVote_label">Location</label>
                <input type="text" formControlName="location" class="form-control inner_input-copy" placeholder="Location">
                <div *ngIf="icoprofileform.controls['location'].touched && !icoprofileform.controls['location'].valid">  
                  <span *ngIf="icoprofileform.controls['location'].hasError('required') " class="alert-danger">  
                    Location is required  
                  </span>  
                </div>
              </div>
              <div class="form-group">
                <label class="control-label upVote_label">Bio</label>
                <textarea formControlName="bio" class="form-control inner_input-copy" placeholder="Bio"></textarea>
                <div *ngIf="icoprofileform.controls['bio'].touched && !icoprofileform.controls['bio'].valid">  
                  <span *ngIf="icoprofileform.controls['bio'].hasError('required') " class="alert-danger">  
                    Bio is required  
                  </span>  
                  <span *ngIf="icoprofileform.controls['bio'].hasError('minlength') " class="alert-danger">  
                    Please descripe about your company in minimum 100 characters 
                  </span>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label upVote_label">Investment focus</label>
                <input type="text" formControlName="investmentfocus" class="form-control inner_input-copy" placeholder="Investment focus">
                <div *ngIf="icoprofileform.controls['investmentfocus'].touched && !icoprofileform.controls['investmentfocus'].valid">  
                  <span *ngIf="icoprofileform.controls['investmentfocus'].hasError('required') " class="alert-danger">  
                    Investment Focus is required  
                  </span>  
                </div>
              </div>
              <div class="form-group">
                <label class="control-label upVote_label">Average no. Of investement per year</label>
                <input type="number" formControlName="averagenoofinvestment" class="form-control inner_input-copy" placeholder="Average no. Of investement per year">
              </div>
              <div class="form-group">
                <label class="control-label upVote_label">Average Investment size per deal</label>
                <select type="text" formControlName="averageinvestmentsizeperyear" class="form-control inner_input-copy">
                  <option *ngFor="let ind of investmentData" [ngValue]="ind.id">{{ind.value}}</option>
                </select>
              </div>
              <div class="form-group">
                <label class="custom_check">
                  <span> Investor ? </span>
                  <input type="checkbox" formControlName="isinvestor" checked="checked">
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="form-group">
                <button type="submit" class="btn_full_shape btn">Save</button>
              </div>
              <div class="gap105"></div>
              <div class="form-group">
                <button type="button" (click)="DeleteUserProfile()" class="BG btn">Delete my account and information</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix gap20"></div>