<app-app-home></app-app-home>
<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img src="..\assets\img\icoimage.jpg" class="img-responsive" alt="Cinque Terre" width="348" height="225">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div style="text-align:right">
              <a routerLink ="/Company" routerLinkActive="active">see more..</a> 
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img src="..\assets\img\icoimage.jpg" class="img-responsive" alt="Cinque Terre" width="348" height="225">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div style="text-align:right">
              <a routerLink ="/Company" routerLinkActive="active">see more..</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img src="..\assets\img\icoimage.jpg" class="img-responsive" alt="Cinque Terre" width="348" height="225">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div style="text-align:right">
              <a routerLink ="/Company" routerLinkActive="active">see more..</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img src="..\assets\img\icoimage.jpg" class="img-responsive" alt="Cinque Terre" width="348" height="225">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div style="text-align:right">
              <a routerLink ="/Company" routerLinkActive="active">see more..</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img src="..\assets\img\icoimage.jpg" class="img-responsive" alt="Cinque Terre" width="348" height="225">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div style="text-align:right">
              <a routerLink ="/Company" routerLinkActive="active">see more..</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img src="..\assets\img\icoimage.jpg" class="img-responsive" alt="Cinque Terre" width="348" height="225">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div style="text-align:right">
              <a routerLink ="/Company" routerLinkActive="active">see more..</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img src="..\assets\img\icoimage.jpg" class="img-responsive" alt="Cinque Terre" width="348" height="225">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div style="text-align:right">
              <a routerLink ="/Company" routerLinkActive="active">see more..</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img src="..\assets\img\icoimage.jpg" class="img-responsive" alt="Cinque Terre" width="348" height="225">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div style="text-align:right">
              <a routerLink ="/Company" routerLinkActive="active">see more..</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img src="..\assets\img\icoimage.jpg" class="img-responsive" alt="Cinque Terre" width="348" height="225">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div style="text-align:right">
              <a routerLink ="/Company" routerLinkActive="active">see more..</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>