<div class="alertCenter">
  <nac-alert-center [animation]="'fancy'" [htmlTextEnabled]="true"></nac-alert-center>
</div>
<div class="forgot">
  <div class="forgot_component">
    <div class="forgot_inner">
      <div *ngIf="!switchcontent">
        <h1>Forget password</h1>
        <form [formGroup]='forgotpasswordgrp' (ngSubmit)="forgotpasswordclick(forgotpasswordgrp)">
          <div class="form-group">
            <label class="control-label">Enter your email address</label>
            <div class="input-group">
              <span class="input-group-addon">
                <img src="../../assets/img/ico-log.png">
              </span>
              <input type="text" [ngClass]="{submitted:submitted}" formControlName="username" placeholder="Email..." class="lginp form-control touched"
                id="form-username">
            </div>
          </div>
          <button type="submit" class="btn forgot_submit">Forgot Password</button>
        </form>
      </div>
      <div *ngIf="switchcontent">
          <h1>Change password</h1>
          <form [formGroup]='forgotpasswordchangegrp' (ngSubmit)="passwordChangeclick(forgotpasswordchangegrp)">
            <div class="form-group">
              <label class="control-label" for="form-password">Password</label>
                  <input type="password" [ngClass]="{submitted:submitted}" formControlName="password" placeholder="Password..."
                    class="form-control lginpcp touched" id="form-password">
              <label class="control-label">Confirm password</label>
              
                  <input type="password" [ngClass]="{submitted:submitted}" formControlName="confirmpassword"  placeholder="Confirm Password..."
                  class="form-control lginpcp touched" id="form-confirm-password">
            </div>
            <button type="submit" class="btn forgot_submit">Change Password</button>
          </form>
        </div>
    </div>
  </div>