<div class="alertCenter">
  <nac-alert-center [animation]="'fancy'" [htmlTextEnabled]="true"></nac-alert-center>
</div>
<div class="register">
  <div class="register_component">
    <div class="register_inner">
      <h1>Join Upvote</h1>
      <form [formGroup]='registerForm' (ngSubmit)="PostData(registerForm)">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Full name</label>
              <input type="text" [ngClass]="{submitted:submitted}" formControlName="name"  placeholder="Name..."
                class="form-control lginp touched" id="form-name">
            </div>
            <div class="form-group">
              <label class="control-label">Email</label>
              <input type="email" [ngClass]="{submitted:submitted}" formControlName="email" placeholder="Email..."
                class="form-control lginp touched" id="form-email">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label" for="form-password">Password</label>
              <input type="password" [ngClass]="{submitted:submitted}" formControlName="password" placeholder="Password..."
                class="form-control lginp touched" id="form-password">
            </div>
            <div class="form-group">
              <label class="control-label">Confirm password</label>
              <input type="password" [ngClass]="{submitted:submitted}" formControlName="confirmpassword"  placeholder="Confirm Password..."
                class="form-control lginp touched" id="form-confirm-password">
            </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label">About yourself</label>
                <textarea formControlName="aboutyourself" [ngClass]="{submitted:submitted}" placeholder="About yourself..."
                  class="form-about-yourself form-control lginp touched" id="form-about-yourself"></textarea>
              </div>
            </div>
          </div>
          <div class="center_block">
              <div class="form-group">
                  <label class="custom_radio">Are you an Investor?
                      <input type="checkbox" formControlName="isinvestor">
                    <span class="checkmark"></span>
                  </label>
                </div>
          </div>
          <div class="center_block">
              <div class="form-group">
                  <label class="custom_radio">Are you an Moderator?
                      <input type="checkbox" formControlName="ismoderator">
                    <span class="checkmark"></span>
                  </label>
                </div>
          </div>
          <div class="center_block">
              <div class="form-group">
                  <label class="custom_radio">Are you an Presenter?
                      <input type="checkbox" formControlName="ispresenter">
                    <span class="checkmark"></span>
                  </label>
                </div>
          </div>
          <button type="submit" class="btn register_submit">Register</button>
      </form>
      <div class="divider"></div>
      <div class="social_wrapper">
        <div class="social">
          <button type="button" class="btn fb" (click)="socialSignIn('facebook')">
            <img src="../../assets/img/fb.ico"> Register with Facebook</button>
        </div>
        <div class="social" style="display: none;">
          <button type="button" class="btn twitter" (click)="socialSignIn('linkedin')">
            <img src="../../assets/img/linkedin.png"> Register with LinkedIn</button>
        </div>
        <div class="social">
          <button type="button" class="btn gmail" (click)="socialSignIn('google')">
            <img src="../../assets/img/google.png"> Register with Google</button>
        </div>
      </div>
      </div>
      <div class="register_footer">
        <a routerLink="/Login" routerLinkActive="active-link" class="createNew">Already have an account? Login.</a>
      </div>
    </div>
  </div>
