.register {
  background: url('../../assets/img/upvoteico-hero-01.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 1080px;
  position: relative;
}

.register_component {
  width: 945px;
  border-radius: 3px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 10%;
}

.register_inner {
  padding: 50px 100px;
}

.register_component h1 {
  font-size: 42px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #151515;
  margin-bottom: 30px;
}

.lginp {
  height: 50px;
  border-radius: 5px;
  background-color: #ffffff;
  border: solid 1px #e2e2e2;
  box-shadow: none;
}

.lginp:focus {
  border-color: #e2e2e2;
  box-shadow: none;
}

.center_block {
  width: 200px;
  text-align: center;
  margin: 30px auto 0 auto;
}

.register_submit {
  width: 152px;
  height: 40px;
  border-radius: 8px;
  background-color: #3ccf94;
  margin: 40px auto 20px auto;
  display: block;
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.87;
  letter-spacing: 1px;
  text-align: center;
  color: #ffffff;
}

.forget {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #88898a;
  text-align: center;
  display: block;
  text-decoration: underline;
}

.forget:hover {
  color: #88898a;
}

.divider {
  border-top: 1px solid #e2e2e2;
  margin: 40px 0;
}

.fb.btn {
  width: 220px;
  height: 50px;
  border-radius: 8px;
  background-color: #3c5a98;
  margin: 10px auto 10px auto;
}

.twitter.btn {
  width: 220px;
  height: 50px;
  border-radius: 8px;
  background-color: #56acee;
  margin: 10px auto 10px auto;
}

.gmail.btn {
  width: 220px;
  height: 50px;
  border-radius: 8px;
  background-color: #dd4a39;
  margin: 10px auto 10px auto;
}

.social .btn {
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: #ffffff;
  display: block;
  margin-right: 15px;
}

.social .btn img {
  position: relative;
  margin-right: 10px;
}

.social_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.createNew {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #43494e;
  display: block;
  text-decoration: underline;
  display: block;
}

.register_footer {
  height: 56px;
  background-color: #f6f8fa;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*** custom radio button **/

/* The container */

.custom_radio {
  display: block;
  position: relative;
  padding-left: 40px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */

.custom_radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */

.checkmark {
  position: absolute;
  top: 0;
  left: 15px;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */

.custom_radio:hover input~.checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */

.custom_radio input:checked~.checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */

.custom_radio input:checked~.checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */

.custom_radio .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

@media(max-width:767px) {
  .register_component {
    width: 95%;
  }
  .register_component h1 {
    font-size: 30px;
  }
  .register_inner {
    padding: 40px;
  }
  .social_wrapper {
    display: block;
  }
  .register {
    height: 1120px;
  }
  .social .btn {
    margin: 15px auto;
  }
}

@media(min-width:768px) and (max-width:1023px) {
  .register_component {
    width: 95%;
  }
  .register_inner {
    padding: 40px;
  }
  .gmail.btn,
  .twitter.btn,
  .fb.btn {
    width: 200px;
  }
  .social .btn img {
    margin-right: 0
  }
}
