<app-app-home></app-app-home>
<div class="upVote">
<div class="container"  *ngIf="userintilization">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="profile_pic">
        <img [src]="user.profileimageurl || '..\assets\img\profile.jpg'" class="img-responsive">
        <div class="profile_pic_info">
          <span class="left" *ngIf="user.isinvestor">Investor</span>
          <span class="right" *ngIf="user.averageinvestmentsizeperyear">{{ averageinvestmentsizeperyear }} / year</span>
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
      <div class="profile_info">
        <h1 class="title">{{ user.name }} <a routerLink="/User" routerLinkActive="active-link">
          <i class="fa fa-pencil" style="font-size: 20px"></i></a></h1>
        <h5 *ngIf="user.location">{{ user.title }}, {{ user.location }}</h5>
        <p>{{ user.bio }}</p>
      </div>
    </div>
  </div>
</div>
</div>
<div class="b1_background"  *ngIf="isICOAvailable && investedICOSInitialization">
  <div class="container">
      <app-app-icocard [icolist]="icolist" [page]="page" [displayText]="investordisplayText" ></app-app-icocard>
</div>
</div>
<div class="b1_background"  *ngIf="yourICOList && ownICOsInitialization">
  <div class="container">
      <app-app-icocard [icolist]="yourICOList" [page]="page" [displayText]="yourdisplayText" ></app-app-icocard>
</div>
</div>
<div class="clearfix gap20" style="padding: 20px"></div>
<ngx-spinner bdColor = "rgba(251,244,244,0.8)" size = "medium" color = "#31d093" type = "ball-clip-rotate-multiple"></ngx-spinner>
