<div class="alertCenter">
  <nac-alert-center [animation]="'fancy'" [htmlTextEnabled]="true"></nac-alert-center>
</div>
<table *ngIf="formintilization">
  <tr>
    <th>File Name</th>
    <th>Create</th>
    <th>Check</th>
  </tr>
  <tr *ngFor="let filename of filenames">
    <td>{{ filename.filename }}</td>
    <td><input type="button" value="create" (click)="generateFile(filename.filename)"></td>
    <td><input type="button" value="check" (click)="checkFile(filename.filename)"></td>
    <td><input type="button" value="delete" (click)="deleteFile(filename.filename)"></td>
  </tr>
</table>

<div>
  <img [src]="imgageurl" class="img-responsive">
</div>
