<header *ngIf='formintilization'>
        <div class="container">
          <div class="header_inner">
            <div class="logo">
              <a routerLink="/Home" routerLinkActive="active-link">
                <img src="..\assets\img\imglogo.png" srcset="..\assets\img\imglogo@2x.png 2x, ..\assets\img\imglogo@3x.png 3x" class="_imglogo">
              </a>
            </div>
            <div class="profile_icon">
              <div class="dropdown_profile">
                <div class="col mydrop">
                  <div ngbDropdown class="d-inline-block" id="dropdownBasic1" ngbDropdownToggle>
                    <a class="btn">
                      <div class="desktop_menu">
                        <div *ngIf="loggedIn && user && user.image!==''">
                          <img src="{{ user.image }}">
                        </div>
                        <div *ngIf="loggedIn && user.image===''">
                          <img src="..\assets\img\ico-user.png">
                        </div>
                      </div>
                      <div class="mobile_menu"  [ngClass]="{'mobiShow' : mobileMenu}">
                        <a href="javasript:void(0)"  (click)="mobileMenuShow()">
                          <span></span>
                          <span></span>
                          <span></span>
                        </a>
                      </div>
                    </a>
                    <i class="fa fa-caret-down mobi_i"></i>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" ngbDropdownToggle *ngIf="loggedIn">
                      <div class="drop_title">
                        <span> {{ user.name }} </span>
                      </div>
                      <ul>
                        <li class="dropdown-item">
                          <a routerLink="/UProfile" routerLinkActive="active-link">Profile </a>
                        </li>
                        <li class="dropdown-item active">
                          <a href="javascript:void(0)" (click)="SignOut()">Log Out</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
<div class="live_stream">
    <div class="liveConvo">
        <ul id="connectedusers">
        </ul>
        <div class="view_more"> </div>
        <!---<div class="setting_icon"><a href="javascript:void(0)"><img src="../../assets/img/baseline-settings-20px.svg"></a></div>
        <div class="see_icon"><a href="javascript:void(0)"><img src="../../assets/img/baseline-visibility_off-24px.svg"></a></div>-->
    </div>
    <div class="live_video" id="livevideoparent">
            <div class="video_mode">
                <div class="presenter_name" style="display: none">Justine Marshall / Upvote</div>
                <div id="presentervideo">
                  
                </div>
            </div> 
            <div class="live_chat one">
                <div class="" id="moderatorvideo">
                  
                </div>   
                               
                <div class="designation" style="display: none">
                    <p>MODERATOR</p>
                    <p>Davea Butler</p>
                </div>
            </div>
            <div class="video_chat" >
                <ul style="display: none">
                    <li><a href="javascript:void(0)" class="latptop active"><img src="../../assets/img/baseline_laptop_white_18dp.png"></a></li>
                    <li><a href="javascript:void(0)" class="video_show stop_video active"><img src="../../assets/img/baseline_videocam_white_18dp.png"></a></li>
                    <li><a href="javascript:void(0)" class="mic active"><img src="../../assets/img/baseline_mic_white_18dp.png"></a></li>
                    <li><a href="javascript:void(0)" class="chat active"><img src="../../assets/img/baseline_forum_white_18dp.png"></a></li>
                </ul>
                
            </div>
            <div class="video_chat_box">
                    <perfect-scrollbar fxFlex="auto" [config]="config" [scrollIndicators]="true" (psXReachEnd)="onScrollEvent($event)" 
                    (psYReachEnd)="onScrollEvent($event)" (psXReachStart)="onScrollEvent($event)" (psYReachStart)="onScrollEvent($event)">
                    <ul class="chatwindow chatBox">
                    </ul>
                </perfect-scrollbar>
                    <div class="type_box">
                        <input type="text" id="chat-input" class="form-control chat_inp" placeholder="Send a message">
                        <div class="btn_send"><img src="../../assets/img/btn-send.png"></div>
                    </div>                
            </div>
    </div>
    <div id="videos-container">
      
    </div>

</div>
<div class="screen_share_btn_container">
    <input type="btn" value="Share Screen" (click)="openscreenshare()">
</div>
<div class="screen_share_btn_container">
    <input type="btn" value="Join Room" (click)="joinscreenshare()">
</div>
<div class="file_download">
    <ul id="file-container">
        
    </ul>
    <div class="edit_note">
        <img id="share-file" src="../../assets/img/outline-note_add-24px.svg">
    </div>
  </div>