.pro_info {
  margin: 30px 0;
  position: relative;
}

.pro_img_holder img {
  width: 100%;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}

.pro_info_content {
  position: relative;
}

.block-with-text {
  overflow: hidden;
  position: relative;
  max-height: 6em;
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
  font-family: Heebo;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: #43494e;
}

.block-with-text:before {
  content: '...';
  position: absolute;
  right: 0;
  bottom: 0;
}

.block-with-text:after {
  content: '';
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: white;
}

.pro_info_content .join {
  position: absolute;
  right: 0;
  top: 0;
  width: 190px;
  height: 50px;
  border-radius: 8px;
  border: solid 2px #151515;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 1.5px;
  text-align: center;
  color: #151515;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.pro_info_content .join:hover {
  background: #151515;
  color: #fff;
  cursor: pointer;
}

.join_whitelist {
  color: #151515;
  background: none;
  border: 0;
  text-decoration: underline;
  position: absolute;
  right: 0;
  top: 0;
}

.pro_social {
  position: absolute;
  right: 0;
  bottom: 0;
}

.pro_social ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

.pro_social ul li {
  display: inline-block;
  margin-right: 5px;
}

.pro_social ul li a {
  width: 30px;
  height: 30px;
  display: block;
  color: #fff;
  border-radius: 50%;
  background: #151515;
  font-size: 15px;
  text-decoration: none;
  color: #fff;
  text-align: center;
  line-height: 32px;
}

.pro_social ul li a:hover {
  background: #6949c5;
  color: #fff;
}

.pro_info_content h1 {
  font-size: 42px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #151515;
  margin: 0 0 20px 0;
}

.pro_tag {
  width: 101px;
  height: 30px;
  border-radius: 15px;
  background-color: #e5eaed;
  text-align: center;
  line-height: 30px;
}

.pro_tag a {
  text-decoration: none;
  color: #151515;
}

.pro_bg {
  background-color: #f6f8fa;
  position: relative;
  padding: 50px 0 60px 0;
}

.video_container {
  position: relative;
  box-shadow: 0 10px 30px 0 rgba(207, 213, 218, 0.55);
  margin-bottom: 50px;
}

.play_pause {
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: auto;
  top: 50%;
  transform: translate(0, -50%);
  left: calc(50% - 50px);
}

.event_container {
  background: #fff;
  width: 100%;
  box-shadow: 0 10px 30px 0 rgba(207, 213, 218, 0.55);
}

.event_container a {
  color: #88898a;
  text-decoration: underline;
}

.calendar_head {
  height: 90px;
  background-color: #6949c5;
  color: #fff;
  display: flex;
  padding: 20px;
}

.cal_icon {
  display: inline-block;
}

.cal_details {
  display: inline-block;
  margin-left: 10px;
}

.cal_content small {
  font-size: 14px;
}

.cal_content p {
  font-size: 20px;
  font-weight: bold;
  margin: 5px 0 0 0;
}

.cal_holder,
.event_details {
  padding: 20px;
}

.cal_date {
  width: 100%;
  height: 166px;
  border: 1px solid #ddd;
}

.divider {
  display: block;
  margin: 24px 0;
  border-top: solid 1px #e6eaf0;
}

.contact_details>div,
.address_details>div,
.ico_loca>div,
.token>div,
.website>div,
.WhitePaper>div {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #43494e;
}

.in_display {
  display: block
}

.in_display>div {
  display: inline-block;
  margin-right: 5px;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  color: #43494e;
  color: var(--charcoal-grey);
}

.aln_img {
  display: block;
  position: relative;
  top: -18px;
}

.contact_details h5,
.address_details h5,
.ico_loca h5,
.token h5,
.website h5,
.WhitePaper h5 {
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: normal;
  color: #88898a;
}

.ico_edit_cal_hover {
  width: 20px;
  height: 20px;
  object-fit: contain;
}


@media(min-width:1024px) {
  .pro_info_content>p {
    width: 70%;
    height: 45px;
    overflow: hidden
  }
  .event_container {
    height: 1257px;
  }
}

.event_item {
  margin-bottom: 20px;
  padding: 0 20px;
}

.col-md-12.col-xs-12.col-sm-6.col-lg-12.event_item>div {
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
}

.col-md-12.col-xs-12.col-sm-6.col-lg-12.event_item:last-of-type>div {
  border: 0;
  padding-bottom: 0;
}

@media(max-width:1023px) {
  .pro_info_content .join {
    position: relative;
    margin-top: 20px;
  }
  .pro_social {
    position: relative;
    margin-top: 20px;
  }
}

@media(max-width:767px) {
  .pro_img_holder img {
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
  }
}

