<app-app-home></app-app-home>
<div class="alertCenter">
  <nac-alert-center [animation]="'fancy'" [htmlTextEnabled]="true"></nac-alert-center>
</div>
<div *ngIf="forminitialization">
  <div class="pro_info" >
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-lg-2 col-sm-4 col-xs-12">
          <div class="pro_img_holder">
            <img [src]="ico.icologoimage" class="img-circle">
          </div>
        </div>
        <div class="col-md-10 col-lg-10 col-sm-8 col-xs-12">
          <div class="pro_info_content">
            <h1>{{ ico.iconame }}</h1>
            <p class="block-with-text" *ngIf="ico.shortdescription">{{ ico.shortdescription }}</p>
            <div class="pro_tag WhitePaper" *ngIf="ico.whitepaper" style="display: none">
              <a [attr.href]="ico.whitepaper" target="_blank">White Paper</a>
            </div>
            <a [routerLink]="['/ListICO']"  [queryParams]="{name: ico.iconame}" routerLinkActive="active-link" 
            class="join_whitelist" *ngIf="userType===1">
              Edit Startup</a>
            <div class="join_whitelist" *ngIf="ico.iswhitelistjoined" style="display: none">Whitelisted</div>
            <div class="pro_social">
              <ul>
                <li *ngIf="ico.smn_youtube">
                  <a [attr.href]="ico.smn_facebook" target="_blank">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li *ngIf="ico.smn_youtube">
                  <a [attr.href]="ico.smn_twitter" target="_blank">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li *ngIf="ico.smn_youtube">
                  <a [attr.href]="ico.smn_youtube" target="_blank">
                    <i class="fa fa-youtube"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pro_bg">
    
    <!--- stream chat  *ngIf="isLiveStreaming" -->
    <app-app-livestream [icoid]="ico.id" [userid]="ico.userid"></app-app-livestream>
    <!--- stream chat -->
    <div class="container" *ngIf="forminitialization">
      <div class="row">
        <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
          <div class="row">
            <div class="col-md-11 col-lg-11 col-sm-12 col-xs-12">
              <div class="video_container">
                <div *ngIf="youtubeembedurl">
                <iframe width="100%" height="420px" [src]= "youtubeembedurl" style="background: rgb(15, 15, 15);"
                frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
              </div>
                <video width="100%" height="420px"  (click)="toggleVideo()" #videoPlayer controls *ngIf="!youtubeembedurl">
                  <source [src]="icovideourl" type="video/mp4"> Your browser does not support the video tag.
                </video>
              </div>
              <div>
                <h2> About {{ ico.iconame }}</h2>
              </div>
              <div class="summary">
                <p>
                  {{ ico.long_description }}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
          <div class="event_container">
            <app-app-calendar [ico]="ico"></app-app-calendar>
            <div class="event_details">
              <div class="divider"></div>
              <div *ngIf="ico.email || ico.phone_number">
                <div class="contact_details">
                  <h5>CONTACT DETAILS</h5>
                  <div class="in_display" *ngIf="ico.phone_number">
                    <div class="ico_phone">
                      <img src="..\assets\img\ico-phone.png">
                    </div>
                    <div class="ico_phone_num">
                      + {{ ico.country_code }} {{ ico.phone_number }}
                    </div>
                  </div>
                  <div class="in_display" *ngIf="ico.email">
                    <div class="ico_email ">
                      <img src="..\assets\img\ico-email.png">
                    </div>
                    <div class="ico_email_add">
                      {{ ico.email }}
                    </div>
                  </div>
                </div>
                <div class="divider"></div>
              </div>
              <div *ngIf="ico.address || ico.city || ico.country">
                <div class="address_details">
                  <h5>ADDRESS</h5>
                  <div class="in_display">
                    <div class="ico_loca">
                      <img src="..\assets\img\ico-location.png" class="aln_img">
                    </div>
                    <div class="ico_add">
                      <div> {{ ico.address }}
                        <br> {{ ico.city }} {{ ico.country }}</div>
                    </div>
                  </div>
                </div>
                <div class="divider"></div>
              </div>
              <div *ngIf="ico.website">
                <div class="website">
                  <h5>WEBSITE</h5>
                  <div>{{ ico.website }}</div>
                </div>
                <div class="divider"></div>
              </div>
            <div style="display: none">
              <div *ngIf="ico.tokcenname">
                <div class="token">
                  <h5>TOKEN</h5>
                  <div>{{ ico.tokcenname }}</div>
                </div>
                <div class="divider"></div>
              </div>
              <div *ngIf="ico.whitepaper">
                <div class="WhitePaper">
                  <h5>WHITEPAPER</h5>
                  <a [attr.href]="ico.whitepaper" target="_blank">Open</a>
                </div>
                <div class="divider"></div>
              </div>
              <div *ngIf="ico.tokeytype">
                <div class="token">
                  <h5>TOKEN TYPE</h5>
                  <div>{{ ico.tokeytype }}</div>
                </div>
                <div class="divider"></div>
              </div>
              <div *ngIf="ico.pricepertoken">
                <div class="token">
                  <h5>PRICE PER TOKEN</h5>
                  <div>{{ ico.pricepertoken }}</div>
                </div>
                <div class="divider"></div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-spinner bdColor="rgba(251,244,244,0.8)" size="medium" color="#31d093" type="ball-clip-rotate-multiple"></ngx-spinner>