<app-app-home></app-app-home>
     <!-- Page Content -->
    <div class="container">

      <!-- Heading Row -->
      <div class="row my-4">
        <div class="col-lg-8">
          <img class="img-fluid rounded" src="{{ company.imageUrl }}" alt="">
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
          <h1>{{ company.companyname }}</h1>
          <p>{{ company.aboutcomapny }}</p>
        </div>
        <!-- /.col-md-4 -->
      </div>
      <!-- /.row -->

      <!-- Call to Action Well -->
      <div class="card text-white bg-secondary my-4 text-center">
        <div class="card-body">
            <p>something we can design here</p>
        </div>
      </div>

      <!-- Content Row -->
      <div class="row">
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">Information</h2>
              <p class="card-text"><a href = "{{ company.whitepaper }}" target = "_blank">WhitePaper</a></p>
              <p class="card-text"><a href = "{{ company.website }}" target = "_blank">website</a></p>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">Address</h2>
              <p class="card-text">{{company.address1}}</p>
              <p class="card-text">{{company.address2}}</p>
              <p class="card-text">{{company.city}}</p>
              <p class="card-text">{{company.state}} - {{company.postalcode}}</p>
              <p class="card-text">{{company.country}}</p>
            </div>
          
          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">Contact</h2>
              <p class="card-text">{{company.email}}</p>
              <p class="card-text">{{company.phonenumber}}</p>
            </div>
          </div>
        </div>
        </div>
      <div class ="row">
        <div class="col-md-3">
          <input type="text" name="room-id" id="room-id">
        </div>
          <div class="col-md-2">
              <button id="startlive" name="startlive">start live</button>
          </div>
      </div>
      <section class="make-center">
        <div id="videos-container"></div>
      </section>
    <!-- /.container -->
