<app-app-home></app-app-home>
<div class="alertCenter">
    <nac-alert-center [animation]="'fancy'" [htmlTextEnabled]="true"></nac-alert-center>
  </div>
  <div  *ngIf="forminitialization">
<div class="pro_info">
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-lg-2 col-sm-4 col-xs-6">
          <div class="pro_img_holder">
            <img [src]="ico.icologoimage || '..\assets\img\icoimagecard.jpg'" class="img-circle">
          </div>
        </div>
        <div class="col-md-10 col-lg-10 col-sm-8 col-xs-6">
          <div class="pro_info_content">
            <h1>{{ ico.iconame }}</h1>
            <p class="block-with-text">{{ ico.shortdescription }}</p>
            <div class="pro_tag WhitePaper" *ngIf="ico.whitepaper"><a [attr.href]="ico.whitepaper" target="_blank">White Paper</a></div>
            <div class="join" *ngIf="!ico.iswhitelistjoined">JOIN WHITELIST</div>
            <div class="join" *ngIf="ico.iswhitelistjoined">Whitelisted</div>
            <div class="pro_social">
              <ul>
                <li *ngIf="ico.smn_youtube">
                  <a [attr.href]="ico.smn_facebook" target="_blank">
                    <img src="..\assets\img\facebook.png" alt="facebook">
                  </a>
                </li>
                <li *ngIf="ico.smn_youtube">
                  <a [attr.href]="ico.smn_twitter" target="_blank">
                    <img src="..\assets\img\twitter.png" alt="twitter">
                  </a>
                </li>
                <li *ngIf="ico.smn_youtube">
                  <a [attr.href]="ico.smn_youtube" target="_blank">
                    <img src="..\assets\img\you-tube.png" alt="you-tube">
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="pro_bg">
    <div class="container">
      <button type="button" class="btn stream_btn stop"> ► Start live streaming </button>
    </div>
    <!--- stream chat ---->
    <div class="chat_profile" *ngIf="isLiveStreaming">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-lg-8 col-xs-12 col-sm-6">
            <video width="100%" height="468px" controls>
              <source src="https://www.youtube.com/watch?v=C0DPdy98e4c" type="video/mp4"> Your browser does not support the video tag.
            </video>
          </div>
          <div class="col-md-4 col-lg-4 col-xs-12 col-sm-6">
            <div class="chat_box">
              <h5>CHAT</h5>
              <ul>
                <li class="orange">
                  <div class="user_name">Eva Richardson
                    <span>10h54 am</span>
                  </div>
                  I like the direction of the concept. What else can you tell me about it?
                </li>
                <li class="red">
                  <div class="user_name">Matthew Bowers
                    <span>10h55 am</span>
                  </div>
                  Thank you - there are two considerations to be made when it comes to planning strategy.
                </li>
                <li class="orange">
                  <div class="user_name">Eva Richardson
                    <span>10h56 am</span>
                  </div>
                  I like the direction of the concept. What else can you tell me about it?
                </li>
                <li class="red">
                  <div class="user_name">Matthew Bowers
                    <span>10h57 am</span>
                  </div>
                  Thank you - there are two considerations to be made when it comes to planning strategy.
                </li>
              </ul>
              <div class="chat_input">
                <div class="input-group">
                  <input type="text" class="form-control chat_inp" placeholder="write your message">
                  <span class="input-group-addon">
                    <img src="..\assets\img\btn-send.png">
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--- stream chat ---->
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-lg-8 col-sm-6 col-xs-12">
          <div class="row">
            <div class="col-md-11 col-lg-11 col-sm-12 col-xs-12">
              <div class="video_container">
                <video width="100%" height="420px" controls>
                  <source src="https://www.youtube.com/watch?v=C0DPdy98e4c" type="video/mp4"> Your browser does not support the video tag.
                </video>
                <div class="play_pause">
                  <img src="..\assets\img\btn-play.png">
                </div>
              </div>
              <div class="summary">
                <p>
                    {{ ico.long_description }}
                    
                </p>
              </div>
            </div>
          </div>
  
        </div>
        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
          <div class="event_container">
            <div class="calendar">
              <div class="calendar_head">
                <div class="cal_icon">
                  <img src="..\assets\img\ico-cal.png">
                </div>
                <div class="cal_details">
                  <small>Started April 15th</small>
                  <p>3 Days, 15 Hours left</p>
                </div>
              </div>
              <div class="cal_holder">
                <p>NEXT Live streaming (July)</p>
                <div class="datepicker-container">
                  <ng-datepicker [(ngModel)]="date" [options]="options"></ng-datepicker>
                </div>
                <a href="#">Download / add to your calendar</a>
              </div>
            </div>
            <div class="event_details">
              <div class="divider"></div>
              <div *ngIf="ico.email || ico.phone_number">
              <div class="contact_details">
                <h5>CONTACT DETAILS</h5>
                <div class="in_display" *ngIf="ico.phone_number">
                  <div class="ico_phone">
                    <img src="..\assets\img\ico-phone.png">
                  </div>
                  <div class="ico_phone_num">
                    + {{ ico.country_code }} {{ ico.phone_number }} 
                  </div>
                </div>
                <div class="in_display"  *ngIf="ico.email">
                  <div class="ico_email ">
                    <img src="..\assets\img\ico-email.png">
                  </div>
                  <div class="ico_email_add">
                    {{ ico.email }}
                  </div>
                </div>
              </div>
              <div class="divider"></div>
            </div>
            <div *ngIf="ico.address || ico.city || ico.country">
              <div class="address_details">
                <h5>ADDRESS</h5>
                <div class="in_display">
                  <div class="ico_loca">
                    <img src="..\assets\img\ico-location.png" class="aln_img">
                  </div>
                  <div class="ico_add">
                    <div>  {{ ico.address }}
                      <br> {{ ico.city }}  {{ ico.country }}</div>
                  </div>
                </div>
              </div>
              <div class="divider"></div>
            </div>
            <div *ngIf="ico.tokcenname">
              <div class="token">
                <h5>TOKEN</h5>
                <div>{{ ico.tokcenname }}</div>
              </div>
              <div class="divider"></div>
            </div>
            <div *ngIf="ico.website">
              <div class="website">
                <h5>WEBSITE</h5>
                <div>{{ ico.website }}</div>
              </div>
              <div class="divider"></div>
            </div>
              <div class="WhitePaper" *ngIf="ico.whitepaper">
                <h5>WHITEPAPER</h5>
                <a [attr.href]="ico.whitepaper" target="_blank">Open</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
    <ngx-spinner bdColor = "rgba(251,244,244,0.8)" size = "medium" color = "#31d093" type = "ball-clip-rotate-multiple"></ngx-spinner>
  