.imgHome
{
  width: 348;
  height: 225;
}

.deskktop {
  width: 1440px;
  height: 1610px;
  background-color: #ffffff;
}
.screen_share_btn_container {
  display: block;
  margin: 20px auto;
}
.videos-container video  {
  width: 50%;  
}
