		<div class="SignInMain">
		<!-- Top content -->
        <div class="top-content">
        	
            <div class="inner-bg">
                <div class="container">
                	
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1><strong>UpvoteICO</strong> Login Or Register here </h1>
                            <div class="description">
                            	<p>
	                            	UpvoteICO trust & transparency 
                            	</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-sm-5">
                        	
                        	<div class="form-box">
	                        	<div class="form-top">
	                        		<div class="form-top-left">
	                        			<h3>Login to UpvoteICO</h3>
	                            		<p>Enter username and password to log on:</p>
	                        		</div>
	                        		<div class="form-top-right">
	                        			<i class="fa fa-lock"></i>
	                        		</div>
	                            </div>
	                            <div class="form-bottom">
				                    <form class="Login-form" [formGroup] = 'loginForm' (ngSubmit)="SignIn(loginForm)">
				                    	<div class="form-group">
				                    		<label class="sr-only" for="form-username">Username</label>
											<input type="text" formControlName="username" [formGroup] = 'loginForm' placeholder="Username..." class="form-username form-control" id="form-username">
											<div *ngIf="loginForm.controls['username'].touched && !loginForm.controls['username'].valid">  
												<span *ngIf="loginForm.controls['username'].hasError('required') " class="alert-danger">  
													Username is required  
												</span>  
											</div>  
				                        </div>
				                        <div class="form-group">
				                        	<label class="sr-only" for="form-password">Password</label>
											<input type="password" formControlName="loginpassword" [formGroup] = 'loginForm' placeholder="Password..." class="form-password form-control" id="form-login-password">
											<div *ngIf="loginForm.controls['loginpassword'].touched && !loginForm.controls['loginpassword'].valid">  
												<span *ngIf="loginForm.controls['loginpassword'].hasError('required') " class="alert-danger">  
													password is required  
												</span>  
											</div> 
				                        </div>
				                        <button type="submit" class="btn">Sign in!</button>
				                    </form>
			                    </div>
		                    </div>
		                
		                	<div class="social-login">
	                        	<h3>...or login with:</h3>
	                        	<div class="social-login-buttons">
		                        	<a class="btn btn-link-2" (click)="socialSignIn('facebook')" >
		                        		<i class="fa fa-facebook"></i> 
		                        	</a>
		                        	<a class="btn btn-link-2" (click)="socialSignIn('google')">
		                        		<i class="fa fa-google"></i> 
									</a>
									<a class="btn btn-link-2" (click)="socialSignIn('linkedin')">
		                        		<i class="fa fa-linkedin"></i> 
		                        	</a>
	                        	</div>
	                        </div>
	                        
                        </div>
                        
                        <div class="col-sm-1 middle-border"></div>
                        <div class="col-sm-1"></div>
                        	
                        <div class="col-sm-5">
                        	
                        	<div class="form-box">
                        		<div class="form-top">
	                        		<div class="form-top-left">
	                        			<h3>Sign up now</h3>
	                            		<p>Fill in the form below to get instant access:</p>
	                        		</div>
	                        		<div class="form-top-right">
	                        			<i class="fa fa-pencil"></i>
	                        		</div>
	                            </div>
	                            <div class="form-bottom">
				                    <form class="registration-form" [formGroup] = 'registerForm' (ngSubmit)="PostData(registerForm)">
				                    	<div class="form-group">
				                    		<label class="sr-only" for="form-name">Name</label>
											<input type="text" formControlName="name" [formGroup] = 'registerForm' placeholder="Name..." 
											class="form-name form-control" id="form-name">
											<div *ngIf="registerForm.controls['name'].touched && !registerForm.controls['name'].valid">  
												<span *ngIf="registerForm.controls['name'].hasError('required') " class="alert-danger">  
													Name is required  
												</span>  
											</div>  
				                        </div>
				                        <div class="form-group">
				                        	<label class="sr-only" for="form-email">Email</label>
											<input type="text" formControlName="email" [formGroup] = 'registerForm' placeholder="Email..." 
											class="form-email form-control" id="form-email">
											<div *ngIf="registerForm.controls['email'].touched && !registerForm.controls['email'].valid">  
												<span *ngIf="registerForm.controls['email'].hasError('required') " class="alert-danger">  
													Eamil is required  
												</span>  
												<span *ngIf="registerForm.controls['email'].hasError('invalidEmail') " class="alert-danger">  
													Invalid email, check your email address 
												</span> 
											</div> 
										</div>
				                        <div class="form-group">
				                        	<label class="sr-only" for="form-password">Email</label>
				                        	<input type="password" formControlName="password" [formGroup] = 'registerForm' placeholder="Password..." class="form-password form-control" id="form-password">
											<div *ngIf="registerForm.controls['password'].touched && !registerForm.controls['password'].valid">  
												<span *ngIf="registerForm.controls['password'].hasError('required') " class="alert-danger">  
													Password is required  
												</span>  
												<span *ngIf="registerForm.controls['password'].hasError('minlength') " class="alert-danger">  
													password minimum length should be 6 
												</span>  
											</div> 
										</div>
										<div class="form-group">
				                        	<label class="sr-only" for="form-confirm-password">Email</label>
				                        	<input type="password" formControlName="confirmpassword" [formGroup] = 'registerForm' placeholder="Confirm Password..." class="form-confirm-password form-control" id="form-confirm-password">
											<div *ngIf="registerForm.controls['confirmpassword'].touched && !registerForm.controls['confirmpassword'].valid">  
												<span *ngIf="registerForm.controls['confirmpassword'].hasError('required') " class="alert-danger">  
													Confirm Password is required  
												</span>  
												<span class="alert-danger" *ngIf="registerForm.controls.confirmpassword.errors?.MatchPassword">Password not match</span>
	
											</div> 
												
												
										</div>
				                        <div class="form-group">
				                        	<label class="sr-only" for="form-about-yourself">About yourself</label>
				                        	<textarea formControlName="aboutyourself" [formGroup] = 'registerForm' placeholder="About yourself..." class="form-about-yourself form-control" id="form-about-yourself"></textarea>
											<div *ngIf="registerForm.controls['aboutyourself'].touched && !registerForm.controls['aboutyourself'].valid">  
												<span *ngIf="registerForm.controls['aboutyourself'].hasError('required') " class="alert-danger">  
													About your self is required  
												</span>  
											</div> 
										</div>
				                        <button type="submit" class="btn">Sign me up!</button>
				                    </form>
			                    </div>
                        	</div>
                        	
                        </div>
                    </div>
                    
                </div>
            </div>
            
        </div>

        <!-- Footer -->
        <footer>
        	<div class="container">
        		<div class="row">
        			
        			<div class="col-sm-8 col-sm-offset-2">
        				<div class="footer-border"></div>
        				<p>if You want to know more about UpvoteICO, then contact jukka@upvoteico.com</p>
        			</div>
        			
        		</div>
        	</div>
        </footer>
		</div>
        <!-- Javascript -->
        
        <script src="assets/js/jquery.backstretch.min.js"></script>
     