.listico_head {
  margin-top: 30px;
}

.listico_head h1 {
  height: 42px;
  font-family: Heebo;
  font-size: 42px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #151515;
}

.listico {
  background-color: #f6f8fa;
  margin: 50px 0;
}

.listico .form-group {
  position: relative;
  margin-bottom: 20px;
}

.listico .form-group .ng-star-inserted {
  position: absolute;
  font-size: 12px;
  width: 100%;
  z-index: 99;
  background: none;
  font-weight: 600;
  bottom: -10px
}

.profile_icon {
  width: 200px;
  height: 161px;
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 0 10px 30px 0 rgba(207, 213, 218, 0.55);
  padding: 7px;
  margin: 0 auto;
  position: relative;
}

.upload_profile {
  width: 200px;
  margin: 0 auto;
  position: relative;
  top: -50px;
}

.profile_icon .profile_inner {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
}

.profile_inner img {
  width: 100%;
  height: 100%;
}

.profile_icon .profile_inner::before {
  content: "";
  position: absolute;
  border: 10px dashed #c1e8d9;
  top: -8px;
  bottom: -8px;
  left: -8px;
  right: -8px;
}

.upload_btn {
  width: 200px;
  height: 40px;
  border-radius: 5px;
  background-color: #c1e8d9;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  margin-top: 10px;
}

.upload_btn:hover {
  text-decoration: underline;
}

.listInp {
  height: 50px !important;
  background-color: #ffffff;
  border: solid 1px #e2e2e2;
  box-shadow: none;
  font-size: 14px;
  color: #8c98a3;
}
.red-star {
  color: red;
}
textarea.listInp {
  height: 100px !important;
  max-width: 100%;
  max-height: 120px;
}

.listInp:focus,
.listInp:active,
.listInp:hover {
  box-shadow: none;
  outline: 0;
  border-color: #e2e2e2
}

.list_submit {
  width: 152px;
  height: 40px;
  border-radius: 8px;
  background-color: #3ccf94;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  margin: 80px auto 40px auto;
  display: block;
}

.input-group-addon select {
  width: 70px;
  height: 50px;
  border: 1px solid #e2e2e2;
  border-right: 0;
  background: #fff;
  box-shadow: none;
}

.input-group-addon select:active {
  box-shadow: none;
  outline: 0;
}

.videoUpload .listInp {
  border-right: 0;
}

.videoUpload .input-group-addon {
  border: 1px solid #e2e2e2;
  border-left: 0;
  background: #fff;
  padding: 0;
}

.width100 {
  width: 100%;
}

.videoUpload .input-group-addon .btn {
  width: 150px;
  height: 40px;
  border-radius: 5px;
  background-color: #e9e9e9;
  margin-top: 1px;
  margin-right: 4px;
}

input.touched.ng-touched.ng-invalid {
  border: 1px solid #f00;
}

input.dirty.ng-touched.ng-invalid {
  border: 1px solid #f00;
}

textarea.touched.ng-touched.ng-invalid {
  border: 1px solid #f00;
}

input.submitted.ng-invalid {
  border: 1px solid #f00;
}

textarea.submitted.ng-invalid {
  border: 1px solid #f00;
}

/*** custom radio button **/

/* The container */

.custom_radio {
  display: block;
  position: relative;
  padding-left: 50px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-top: 5px;
}

/* Hide the browser's default radio button */

.custom_radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */

.checkmark {
  position: absolute;
  top: 0;
  left: 15px;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */

.custom_radio:hover input~.checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */

.custom_radio input:checked~.checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */

.custom_radio input:checked~.checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */

.custom_radio .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.listico label {
  font-size: 14px;
}
