<app-app-home></app-app-home>
<div class="alertCenter">
  <nac-alert-center [animation]="'fancy'" [htmlTextEnabled]="true"></nac-alert-center>
</div>
<div class="listico_head">
  <div class="container">
    <h1>List your Startup</h1>
    <p>Quick explanation of what is going to happen.</p>
  </div>
</div>
<div class="listico" *ngIf="forminitialization">
  <div class="upload_profile">
    <div class="profile_icon">
      <div class="profile_inner">
        <img [src]="imageSrc" class="img-responsive">
      </div>
    </div>
    <div class="profile_btn">
      <button type="button" (click)="fileInput.click()" class="btn upload_btn">Upload logo</button>
    </div>
    <input #fileInput type="file" class="form-control" style="display: none" (change)="imgfileChangeEvent($event)" multiple accept='image/*'>
  </div>
  <div class="container">
    <form [formGroup]='icoform' (ngSubmit)="UpdateICO(icoform)">
      <div class="row">
        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
          <div class="form-group">
            <label class="control-label">Startup Name <span class="red-star">★</span></label>
            <input type="text" [ngClass]="{submitted:submitted}" formControlName="iconame" class="form-control listInp touched" placeholder="">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
          <div class="form-group">
            <label class="control-label">Email address <span class="red-star">★</span></label>
            <input type="email" [ngClass]="{submitted:submitted}" formControlName="email" class="form-control listInp touched" placeholder="">
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
          <div class="form-group">
            <label class="control-label">Phone (Please enter with country code) <span class="red-star">★</span></label>
            <input type="text" [ngClass]="{submitted:submitted}" formControlName="phone_number" class="form-control listInp touched" placeholder="">
          </div>
        </div>
      </div>
      <label class="control-label">Social Media links</label>
      <div class="row">
        <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
          <div class="form-group">
            <input type="text" ng-class="ng-dirty" formControlName="smn_twitter" class="form-control listInp dirty" placeholder="Twitter:">
          </div>
          <div class="form-group">
            <input type="text" formControlName="smn_facebook" class="form-control listInp dirty" placeholder="Facebook:">
          </div>
          <div class="form-group">
            <input type="text" formControlName="smn_google" class="form-control listInp dirty" placeholder="Google:">
          </div>
          <div class="form-group">
            <input type="text" formControlName="smn_linkedin" class="form-control listInp dirty" placeholder="Linkedin:">
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
          <div class="form-group">
            <input type="text" formControlName="smn_reddit" class="form-control listInp dirty" placeholder="Reddit:">
          </div>
          <div class="form-group">
            <input type="text" formControlName="smn_bitcointalk" class="form-control listInp dirty" placeholder="Bitcointalk:">
          </div>
          <div class="form-group">
            <input type="text" formControlName="smn_github" class="form-control listInp dirty" placeholder="Github:">
          </div>
          <div class="form-group">
            <input type="text" formControlName="smn_others" class="form-control listInp dirty" placeholder="Others:">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
          <div class="form-group">
            <label class="control-label">You Tube</label>
            <input type="text" formControlName="smn_youtube" class="form-control listInp dirty" placeholder="">
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
          <div class="form-group">
            <label class="control-label">Website</label>
            <input type="text"  formControlName="website" class="form-control listInp " placeholder="http://...">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
          <div class="form-group">
            <label class="control-label">Address</label>
            <input type="text"  formControlName="address" class="form-control listInp " placeholder="">
          </div>
        </div>
        </div>
        <div class="row">
        <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
          <div class="form-group">
            <label class="control-label">City</label>
            <input type="text"  formControlName="city" class="form-control listInp " placeholder="">
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
          <div class="form-group">
            <label class="control-label">County</label>
            <input type="text"  formControlName="country" class="form-control listInp " placeholder="">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
          <div class="form-group">
            <label class="control-label">Amount raising</label>
            <input type="text"  formControlName="amountraising" class="form-control listInp " placeholder="$">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
          <div class="form-group">
            <label class="control-label">Funding round Start date</label>
            <input class="form-control" placeholder="dd/mm/yyyy" 
             formControlName="icostartdate"  class="form-control listInp " type="date">
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
          <div class="form-group">
            <label class="control-label">Funding round End date</label>
            <input class="form-control" placeholder="dd/mm/yyyy"
            formControlName="icoenddate"  class="form-control listInp "type="date">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
          <div class="form-group">
            <label class="control-label">Short description</label>
            <textarea type="textarea"  formControlName="shortdescription" class="form-control listInp " placeholder=""></textarea>
          </div>
        </div>
      </div>
      <div style="display: none">
      <div class="row">
        <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
          <div class="form-group">
            <label class="control-label">Product link (MVP / Prototype / etc)</label>
            <input type="text"  formControlName="productlink" class="form-control listInp " placeholder="http://...">
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
          <div class="form-group">
            <label class="control-label">Video upload</label>
            <div class="input-group videoUpload">
              <input type="text" [value]="updatedVideoFileName" class="form-control listInp" placeholder="">
              <span class="input-group-addon">
                <button type="button" class="btn" (click)="videoInput.click()">Select file</button>
              </span>
              <input #videoInput type="file" class="form-control" style="display: none" (change)="videofileChangeEvent($event)" multiple
                accept='video/*'>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
          <div class="form-group">
            <label class="control-label">Product Video on Youtube</label>
            <input type="text" formControlName="youtubevideolink" class="form-control listInp dirty" placeholder="">
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
          <div class="form-group">
            <label class="control-label">Whitepaper</label>
            <input type="text" formControlName="whitepaper" class="form-control listInp dirty" placeholder="http://...">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
          <div class="form-group">
            <label class="control-label">ICO Category</label>
            <select type="text" formControlName="icocategoryid" class="form-control listInp">
              <option *ngFor="let ic of ICOCategory" [ngValue]="ic.id">{{ic.value}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
          <div class="form-group">
            <label class="control-label">Link to boundary</label>
            <input type="text" formControlName="linktoboundry" class="form-control listInp" placeholder="">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
          <div class="form-group">
            <label class="control-label">Token / Ticket</label>
            <input type="text"  formControlName="tokcenname" class="form-control listInp " placeholder="">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
          <div class="form-group">
            <label class="control-label">Platform / Token Type</label>
            <input type="text"  formControlName="tokeytype" class="form-control listInp " placeholder="">
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
          <div class="form-group">
            <label class="control-label">Price per token</label>
            <input type="text"  formControlName="pricepertoken" class="form-control listInp " placeholder="">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label class="custom_radio">Join to whitelist?
              <input type="checkbox" formControlName="iswhitelistjoined">
            <span class="checkmark"></span>
          </label>
        </div>
      </div>
    </div>
      <div class="row">
        <div class="form-group width100">
          <button type="submit" class="btn list_submit">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
<ngx-spinner bdColor="rgba(251,244,244,0.8)" size="medium" color="#31d093" type="ball-clip-rotate-multiple"></ngx-spinner>
 