<header>
    <div class="container">
        <div class="header_inner">
            <div class="logo">
                <img src="..\assets\img\imglogo.png" srcset="..\assets\img\imglogo@2x.png 2x, ..\assets\img\imglogo@3x.png 3x" class="_imglogo">
            </div>
            <div class="profile_icon">
                <div class="dropdown_profile">
                    <div *ngIf="loggedIn && user!==null && user.image!==null">
                            <img src="{{ user.image }}">
                    </div>
                    <div *ngIf="loggedIn && user.image===null">
                            <img src="..\assets\img\ico-user.png">
                    </div>
                    <i class="fa fa-caret-down"></i>
                </div>
            </div>
        </div>
    </div>
</header>
