.List-your-ICO {
  width: 152px;
  height: 40px;
  border-radius: 8px;
  background-color: #3ccf94;
  background-color: var(--greenish-teal);
  margin-left: 800px;
}

header {
  position: relative;
  background-color: #fff;
}

.header_inner {
  position: relative;
  height: 90px;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 25px 0;
  vertical-align: middle;
}

.logo {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0%, -50%);
}

._imglogo {
  width: 135px;
  height: 25px;
  object-fit: contain;
}

.profile_icon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0%, -50%);
}

.profile_icon .dropdown_profile i {
  display: inline-block;
}

.dropdown_profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mydrop {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mydrop a.btn:active {
  box-shadow: none;
  outline: none;
}

.mydrop>ul {
  padding: 0;
  margin: 0;
  width: 183px;
  height: 150px;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 10px 30px 0 rgba(207, 213, 218, 0.55);
}

.mydrop>ul>li {
  padding: 5px 10px;
}

.username {
  padding: 3px 20px;
  width: 109px;
  height: 20px;
  font-family: Heebo;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: 1px;
  color: #555c62;
}

.mydrop>ul>li.divider {
  border-top: 1px solid #e2e4e5;
  width: 183px;
  height: 1px;
}

.mydrop>ul>li>a {
  text-decoration: none;
  color: #151515
}

.mydrop a.btn {
  display: inline-block;
  margin-right: 10px;
  overflow: hidden;
  width: 50px;
  height: 50px;
  transform: rotate(45deg);
  border-radius: 15px;
}

.mydrop a.btn img {
  display: block;
  transform: rotate(-45deg);
  transform-origin: 6px 46px;
  width: 60px;
  height: 60px;
  border-radius: 0;
}

.profile {
  width: 128px;
  height: 20px;
  font-family: Heebo;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #555c62;
}
.logout {
  width: 128px;
  height: 20px;
  font-family: Heebo;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #d0021b;
}

.list_ico_btn {
  position: absolute;
  right: 90px;
  top: 50%;
  transform: translate(0%, -50%);
  width: 152px;
  height: 40px;
  border-radius: 8px;
  background-color: #3ccf94;
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 25px;
  letter-spacing: 1px;
  color:#fff;
}

:host /deep/ .mydrop .dropdown-menu {
  left: -87px !important;
  margin: 0 !important;
  padding: 0 !important;
}

:host /deep/ .mydrop .dropdown-menu li:hover {
  background: #ddd;
}

@media(min-width:1024px) and (max-width:1200px) {
  :host /deep/ .mydrop .dropdown-menu {
    left: -95px !important;
  }
}
