<header>
    <div class="container">
        <div class="header_inner">
            <div class="logo">
                <a routerLink="/Home" routerLinkActive="active-link">
                    <img src="..\assets\img\imglogo.png" srcset="..\assets\img\imglogo@2x.png 2x, ..\assets\img\imglogo@3x.png 3x" class="_imglogo">
                </a>
            </div>
            <div class="profile_icon">
                <div class="dropdown_profile">
                    <div class="col mydrop">
                        <div ngbDropdown class="d-inline-block">
                            <a class="btn" id="dropdownBasic1" ngbDropdownToggle>
                                <div *ngIf="loggedIn && user && user.image!==''">
                                    <img src="{{ user.image }}">
                                </div>
                                <div *ngIf="loggedIn && user.image===''">
                                    <img src="..\assets\img\ico-user.png">
                                </div>
                                <i class="fa-caret-down"></i>
                            </a>
                            <ul ngbDropdownMenu aria-labelledby="dropdownBasic1" ngbDropdownToggle>
                                <li class="dropdown-item">
                                        <a routerLink="/UProfile" routerLinkActive="active-link" class="createNew">Your Profile </a>
                                    </li>
                                    <li class="dropdown-item divider"></li>
                                <li class="dropdown-item">
                                    <a [routerLink]="" (click)="SignOut()">Sign Out</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>