.List-your-ICO {
  width: 152px;
  height: 40px;
  border-radius: 8px;
  background-color: #3ccf94;
  background-color: var(--greenish-teal);
  margin-left: 800px;
}

header {
  position: relative;
  background-color: #fff;
}
.header_inner {
  position: relative;
  height: 90px;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 25px 0;
  vertical-align: middle;
}
.logo {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0%, -50%);
}
._imglogo {
  width: 135px;
  height: 25px;
  object-fit: contain;
}
.profile_icon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0%, -50%);
}

.profile_icon .dropdown_profile i {
  display: inline-block;
}
.dropdown_profile {
  display: flex;
    justify-content: center;
    align-items: center;
}
.mydrop {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mydrop a.btn:active {
  box-shadow: none;
  outline: none;
}
.mydrop>ul {
  padding: 0;
  margin: 0;
}
.mydrop>ul>li {
  padding: 5px 10px;
}
.mydrop>ul>li.divider {
  border-top: 1px solid #ddd;
  margin: 10px 0
}
.mydrop>ul>li>a {
  text-decoration: none;
  color: #151515
}
.mydrop a.btn {
  display: inline-block;
  margin-right: 10px;
  overflow: hidden;
  width: 50px;
  height: 50px;
  transform: rotate(45deg);
  border-radius: 15px;
}
.mydrop a.btn img {
  display: block;
  transform: rotate(-45deg);
  transform-origin: 6px 46px;
  width: 60px;
  height: 60px;
  border-radius: 0;
}

:host /deep/ .mydrop .dropdown-menu {
 left:-45px !important;
}
