
<footer>
  <div class="container">
    <div class="footer_one">
      <div class="footer_links">
        <ul>
          <li>
            <a href="#">
              <img src="..\assets\img\imglogo.png" srcset="..\assets\img\imglogo@2x.png 2x, ..\assets\img\imglogo@3x.png 3x" class="_imglogo">
            </a>
          </li>
          <li>
            <a href="#">Contact Us</a>
          </li>
          <li>
            <a href="#">Work with Us</a>
          </li>
          <li>
            <a href="#">About</a>
          </li>
        </ul>
      </div>
      <div class="footer_social">
        <ul>
          <li>
            <a href="#">
              <img src="..\assets\img\facebook.png">
            </a>
          </li>
          <li>
            <a href="#">
              <img src="..\assets\img\twitter.png">
            </a>
          </li>
          <li>
            <a href="#">
              <img src="..\assets\img\you-tube.png">
            </a>
          </li>
          <li>
            <a href="#">
              <img src="..\assets\img\instagram.png">
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer_two">
      <div class="footer_content">
        <p class="left"> UpvoteICO concept is to offer bla bla bla. Message mission goes here if applicable.</p>
        <p class="right">© 2018 UpvoteICO</p>
      </div>
    </div>
  </div>
</footer>